/* comment.css */

.post {
  text-align: center;
  margin: 20px;
}


.post h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.post p {
  font-size: 16px;
}

.post picture {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 400px;
  margin: auto;
  overflow: hidden;
}

.post img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.delete-button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: red;
  cursor: pointer;
}

.post-comment {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc; 
  /* border-radius: 5px; */
}

/* .post-comment form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
} */

.post-comment form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Asegura que el formulario ocupe todo el ancho del div post */
}

.post-comment input,
.post-comment button {
  margin-top: 10px;
}




.post-comment h2 {
  font-size: 18px;
}

.post-comment i {
  font-style: italic;
}
.post-comment button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
  padding: 10px 20px; /* Ajusta el tamaño del padding según tu preferencia */
  border-radius: 8px;
  background-color: #3498db;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  display: inline-block; /* Para que el botón se comporte como un bloque en línea */
  vertical-align: middle;
}

.post-comment button:hover {
  background-color: #2980b9;
}


input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

